<ion-header>
  <ion-toolbar>
    <ion-title>Crear Nuevo Post</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="addPostForm" (ngSubmit)="agregarPost(addPostForm.value)">
    <ion-grid>
      <ion-row class="image-upload">
        <ion-col size="12">
          <div class="upload-container" (click)="subirFoto()">
            <img [src]="post_image ? post_image : 'assets/imagenes/template_img.jpg'" alt="imagen" />
            <p *ngIf="!post_image" class="upload-text">Haz click para subir una imagen</p>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-textarea
              label="Descripción del post"
              labelPlacement="floating"
              placeholder="Cuenta lo que estás pensando"
              formControlName="description">
            </ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-button type="submit" [disabled]="!addPostForm.valid" expand="block" class="publish-button">
            Publicar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
