<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion_content">
  <div class="login-container">

    <div class="form-container">
      <form [formGroup]="loginForm" (ngSubmit)="loginUser(loginForm.value)">
        <ion-item class="input-item">
          <ion-input label="Correo" labelPlacement="floating" placeholder="Ejemplo@gmial.com" formControlName="email"></ion-input>
        </ion-item>

        <div class="error-container">
          <ng-container *ngFor="let error of formErrors.email">
            <ion-text color="danger" *ngIf="(loginForm.get('email')?.hasError(error.type) && loginForm.get('email')?.dirty)">
              {{ error.message }}
            </ion-text>
          </ng-container>
        </div>

        <ion-item class="input-item">
          <ion-input label="Contraseña" type="password" labelPlacement="floating" placeholder="******" formControlName="password"></ion-input>
        </ion-item>

        <div class="error-container">
          <ng-container *ngFor="let error of formErrors.password">
            <ion-text color="danger" *ngIf="(loginForm.get('password')?.hasError(error.type) && loginForm.get('password')?.dirty)">
              {{ error.message }}
            </ion-text>
          </ng-container>
        </div>

        <button type="submit" [disabled]="!loginForm.valid" class="login-button">
          Entrar
        </button>
      </form>
    </div>

    <div class="footer-container">
      <p>{{ errorMessage }}</p>
      <div style="text-align: center; margin-top: 15px;">
        <a routerLink="/register">¿No tiene cuenta? Regístrese aquí</a>
      </div>
    </div>
  </div>
</ion-content>
