<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <!-- Imagen -->
    <ion-row class="ion-justify-content-center ion-margin">
      <ion-col size="auto" class="ion-text-center">
        <figure>
          <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" width="100" height="100px"/>
        </figure>
      </ion-col>
    </ion-row>

    <!-- Formulario -->
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="6" size-sm="12">
        <form [formGroup]="loginForm" (ngSubmit)="loginUser(loginForm.value)">
          <!-- Email -->
          <ion-item>
            <ion-input label="Email" labelPlacement="floating" placeholder="example@email.com" formControlName="email"></ion-input>
          </ion-item>
          <div>
            <ng-container *ngFor="let error of formErrors.email">
              <ion-label color="danger" *ngIf="loginForm.get('email')?.hasError(error.type) && loginForm.get('email')?.dirty">
                {{ error.message }}
              </ion-label>
            </ng-container>
          </div>

          <!-- Contraseña -->
          <ion-item>
            <ion-input label="Contraseña" labelPlacement="floating" placeholder="**********" formControlName="password" type="password"></ion-input>
          </ion-item>


          <ion-row class="ion-margin-top">
            <ion-col size="6" class="ion-text-start">
              <ion-button type="submit" [disabled]="!loginForm.valid" expand="block">
                Login
              </ion-button>
            </ion-col>
            <ion-col size="6" class="ion-text-end">
              <ion-button type="button" (click)="irRegister()" expand="block" fill="outline">
                Registrarse
              </ion-button>
            </ion-col>
          </ion-row>
        </form>
      </ion-col>
    </ion-row>

    <!-- Mensaje de error -->
    <ion-row class="ion-justify-content-center ion-margin-top">
      <ion-col size-md="6" size-sm="12">
        <p class="ion-text-center" color="danger">{{ errorMessage }}</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
