ion-content {
  --background: linear-gradient(to bottom, #cce7ff, #ffffff);
  background-size: cover;
}

.intro-swiper {
  height: 100%;
}

.slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
}

.title {
  font-size: 2rem;
  color: #00509e;
  font-weight: bold;
}

.description {
  font-size: 1.2rem;
  color: #0073e6;
  margin: 1rem 0;
}

.image {
  width: 100%;
  max-width: 300px;
  border-radius: 8px;
  margin-top: 1rem;
  object-fit: cover;
}

.start-button {
  margin-top: 1rem;
  background: #00509e;
  color: white;
  width: 80%;
}

/* Estilos específicos para móviles */
@media (min-width: 768px) {
  ion-content {
    display: none;
  }
}
