<ion-content>
  <swiper-container [slidesPerView]="'auto'" [spaceBetween]="16" [centeredSlides]="true" class="intro-swiper">
    <swiper-slide class="slide">
      <h1 class="title">Explora Nuevas Sensaciones</h1>
      <p class="description">Sumérgete en una experiencia culinaria inolvidable.</p>
      <img src="assets/img/plato.jpg" alt="Experiencia culinaria" class="image">
    </swiper-slide>

    <swiper-slide class="slide">
      <h1 class="title">Sabores de Temporada</h1>
      <p class="description">Elige entre lo mejor de cada estación.</p>
      <img src="assets/img/plato1jpg.jpg" alt="Sabores de temporada" class="image">
    </swiper-slide>

    <swiper-slide class="slide">
      <h1 class="title">Ingredientes Orgánicos</h1>
      <p class="description">Calidad y frescura en cada plato.</p>
      <img src="assets/img/plato2.jpg" alt="Ingredientes orgánicos" class="image">
    </swiper-slide>

    <swiper-slide class="slide">
      <h1 class="title">Haz Tu Reserva</h1>
      <p class="description">Asegura tu mesa hoy mismo.</p>
      <img src="assets/img/plato3.jpg" alt="Reserva" class="image">
      <ion-button class="start-button" (click)="finish()">Reservar Ahora</ion-button>
    </swiper-slide>
  </swiper-container>
</ion-content>
