<ion-split-pane contentId="content">
  <ion-menu contentId="content" side="start" type="push">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menú</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="closeMenu()" fill="clear">
            <ion-icon slot="icon-only" name="close"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>

        <!-- Menu Items -->
        <ion-item button lines="full" (click)="home()" class="menu-item">
          <ion-icon slot="start" name="home-outline" color="primary"></ion-icon>
          <ion-label>Inicio</ion-label>
        </ion-item>

        <ion-item button lines="full" (click)="account()" class="menu-item">
          <ion-icon slot="start" name="person-outline" color="primary"></ion-icon>
          <ion-label>Perfil</ion-label>
        </ion-item>

        <ion-item button lines="full" (click)="searchUser()" class="menu-item">
          <ion-icon slot="start" name="search-circle-outline" color="primary"></ion-icon>
          <ion-label>Buscar Usuario</ion-label>
        </ion-item>

        <ion-item button lines="full" (click)="logOut()" class="menu-item">
          <ion-icon slot="start" name="log-in-outline" color="primary"></ion-icon>
          <ion-label>Cerrar sesión</ion-label>
        </ion-item>

      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="content"></ion-router-outlet>
</ion-split-pane>
