<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mi aplicación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="4" *ngFor="let post of posts">
        <ion-card class="ion-padding">
          <img [src]="post.image" class="image-post" alt="img usuario" />
          <ion-card-header>
            <ion-card-subtitle>
              <ion-avatar class="user-avatar">
                <img [src]="post.user.image ? post.user.image : 'assets/imagenes/template_img.jpg'" alt="img usuario" />
              </ion-avatar>
              {{ post.user.name }}
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            {{ post.description }}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addPost()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
