<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="profile-page">
  <div class="profile-container">
    <!-- Imagen de perfil -->
    <ion-avatar class="profile-avatar" (click)="presentPhotoOptions()">
      <img [src]="user_data?.image ?? 'assets/img/profile.png'" alt="imagen de perfil" />
    </ion-avatar>

    <!-- Información del perfil -->
    <p class="profile-name">{{ user_data?.name }} {{ user_data?.last_name }}</p>
    <p class="profile-username">{{ '@' + user_data.username }}</p>

    <!-- Estadísticas del perfil -->
    <div class="profile-stats">
      <ion-item lines="none" class="stat-item">
        <ion-label>Seguidores:</ion-label>
        <ion-note>{{ user_data?.followers?.length }}</ion-note>
      </ion-item>
      <ion-item lines="none" class="stat-item">
        <ion-label>Siguiendo:</ion-label>
        <ion-note>{{ user_data?.followees?.length }}</ion-note>
      </ion-item>
    </div>

    <!-- Botón de edición -->
    <ion-button expand="block" color="primary" class="edit-button" (click)="editAccount()">
      Editar perfil
    </ion-button>
  </div>
</ion-content>
