ion-content {
  --background: #f4f5f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form-container {
  width: 100%;
  max-width: 400px;
  background: white;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.form-box {
  width: 100%;
}

.input-item {
  margin-bottom: 20px;
}

.error-container {
  margin-bottom: 10px;
}

.register-button {
  width: 100%;
  padding: 12px;
  border: none;
  background: #3b82f6;
  color: white;
  border-radius: 8px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.register-button:disabled {
  background-color: #b3d4fc;
}

.register-button:hover:not(:disabled) {
  background-color: #2563eb;
}

.custom-button {
  margin-top: 10px;
}

.footer-container {
  margin-top: 15px;
  font-size: 14px;
}

.footer-container a {
  color: #3b82f6;
  font-weight: bold;
  text-decoration: none;
}
