<ion-header>
  <ion-toolbar>
    <ion-title slot="start">Register</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="regresar()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="registerForm" (ngSubmit)="registerUser(registerForm.value)">
    <ion-grid>
      <ion-row>
        <!-- Nombre -->
        <ion-col size="12" size-md="6">
          <ion-item>
            <ion-input label="nombre" labelPlacement="floating" placeholder="Jose" formControlName="name"></ion-input>
          </ion-item>
          <ng-container *ngFor="let error of formErrors.nombre">
            <ion-label color="danger"
                       *ngIf="(registerForm.get('name')?.hasError(error.type) && registerForm.get('name')?.dirty)">
              {{ error.message }}
            </ion-label>
          </ng-container>
        </ion-col>

        <!-- Apellido -->
        <ion-col size="12" size-md="6">
          <ion-item>
            <ion-input label="apellido" labelPlacement="floating" placeholder="Garcia" formControlName="last_name"></ion-input>
          </ion-item>
          <ng-container *ngFor="let error of formErrors.apellido">
            <ion-label color="danger"
                       *ngIf="(registerForm.get('last_name')?.hasError(error.type) && registerForm.get('last_name')?.dirty)">
              {{ error.message }}
            </ion-label>
          </ng-container>
        </ion-col>
      </ion-row>

      <ion-row>
        <!-- Username -->
        <ion-col size="12" size-md="6">
          <ion-item>
            <ion-input label="username" labelPlacement="floating" placeholder="example01" formControlName="username"></ion-input>
          </ion-item>
          <ng-container *ngFor="let error of formErrors.username">
            <ion-label color="danger"
                       *ngIf="(registerForm.get('username')?.hasError(error.type) && registerForm.get('username')?.dirty)">
              {{ error.message }}
            </ion-label>
          </ng-container>
        </ion-col>

        <!-- Email -->
        <ion-col size="12" size-md="6">
          <ion-item>
            <ion-input label="Email" labelPlacement="floating" placeholder="example@email.com" formControlName="email"></ion-input>
          </ion-item>
          <ng-container *ngFor="let error of formErrors.email">
            <ion-label color="danger"
                       *ngIf="(registerForm.get('email')?.hasError(error.type) && registerForm.get('email')?.dirty)">
              {{ error.message }}
            </ion-label>
          </ng-container>
        </ion-col>
      </ion-row>

      <ion-row>
        <!-- Password -->
        <ion-col size="12" size-md="6">
          <ion-item>
            <ion-input label="password" labelPlacement="floating" placeholder="*****" formControlName="password" type="password"></ion-input>
          </ion-item>
          <ng-container *ngFor="let error of formErrors.password">
            <ion-label color="danger"
                       *ngIf="(registerForm.get('password')?.hasError(error.type) && registerForm.get('password')?.dirty)">
              {{ error.message }}
            </ion-label>
          </ng-container>
        </ion-col>

        <!-- Confirmar Password -->
        <ion-col size="12" size-md="6">
          <ion-item>
            <ion-input label="confirmar password" labelPlacement="floating" placeholder="*****" formControlName="confirmPassword" type="password"></ion-input>
          </ion-item>
          <ng-container *ngFor="let error of formErrors.passwordConfirm">
            <ion-label color="danger"
                       *ngIf="(registerForm.get('confirmPassword')?.hasError(error.type) && registerForm.get('confirmPassword')?.dirty)">
              {{ error.message }}
            </ion-label>
          </ng-container>
        </ion-col>
      </ion-row>

      <!-- Botón de Registro -->
      <ion-row>
        <ion-col size="12">
          <ion-button expand="block" type="submit" [disabled]="!registerForm.valid">Registro</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
